<p id="notice"><%= notice %></p>

<h1>Lifestyles</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lifestyles.each do |lifestyle| %>
      <tr>
        <td><%= link_to 'Show', lifestyle %></td>
        <td><%= link_to 'Edit', edit_lifestyle_path(lifestyle) %></td>
        <td><%= link_to 'Destroy', lifestyle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lifestyle', new_lifestyle_path %>
